*{
  box-sizing:border-box;
}
body{
  background: #efefef;
}
.App {
  text-align: center;
}
img{
  max-width:100%;
}
h5{
  margin-top:0;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  width:960px;
  margin:20px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position:relative;
}
.App-intro >.item{
  width:30%;
  max-width:400px;
}
.app-footer{
  text-align: center;
  padding:30px 0 25px;
  background:#fff;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.header{
  width:100%;
  background:#fff;
  padding:15px 0 0;
}
.poster-bg,.layer{
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:-1;
}
.layer{
  background:rgba(0,0,0,0.5);
  z-index:0;
}
.poster-bg img{
  width:100%;
  min-height:100%;
}
.wrapper{
  /*width:650px;
  max-width:90%;*/
  margin:0 auto 25px;
  position:relative;
  z-index:1;
}
.searchWrapper{
  display:flex;
  justify-content: space-around;
}
.search-box{
  margin:10px 35px 20px;
  position:relative;
  max-width: 90%;
  z-index:1;
}
.search{
  width:100%;
  height:50px;
  border-radius:4px;
  border:1px solid #efefef;
  background:#efefef;
  padding:10px 20px 10px 50px;
  font-size:20px;
  color:#121212;
}
.search:focus{
  outline:0;
  box-shadow:0 0 3px #FFEB3B;
}
.icon{
  position:absolute;
  top:50%;
  left:16px;
  color:#121212;
  transform:translatey(-50%)
}
.content{
  padding:0px;
  background:#fff;
  border-radius:0;
  box-shadow:0 0 5px  rgba(91,91,91,0.3);
  text-align: center;
  text-align: left;
}
.single-item .content{
  display:flex;
  color:rgba(255, 255, 255, 0.8);
  background:rgba(3, 3, 3, 0.8);
}
.single-item  .title{
  font-size:28px;
  line-height:30px;
  color:cadetblue;
}
.poster{
  flex:3;
  padding-right: 20px;
}
.poster-sm{
  /*flex:1;*/
  /*padding-right: 10px;*/
}
.poster img,
.poster-sm img{
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}
.poster-sm img{
  height: 180px;
}
.text{
  /*flex:4;*/
  padding:10px 15px;
  height:170px;
}
.single-item .text{
  padding-top:35px;
  height:auto;
  flex:3;
}
.title{
  font-size:20px;
  margin:0;
}
.title a{
  text-decoration: none;
  color:#333;
  display: block;
  line-height: 20px;
  transition: all .3s;
}
.title a:hover{
  color:cadetblue;
}
.logo{
  width:150px;
  margin:0 auto;
}
.summary,
.m_d,
.year,
.category,
.rating,
.director,
.cast {
  font-size:14px;
  font-weight:600;
  margin-bottom: 8px;
}
.summary span,
.m_d span,
.year span,
.category span,
.rating span,
.director span,
.cast  span{
  font-size:14px;
  font-weight:normal;
}
.m_d a{
  color:cadetblue;
}
button{
  position:relative;
  z-index:2;
}
.movieList{
  padding:30px;
  margin:30px auto;
  background: #fff;
  list-style:none;
  width:400px;
  border-radius:10px;
}
.movieList li{
  text-align: left; 
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #121212;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #121212;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #121212;
}
:-moz-placeholder { /* Firefox 18- */
  color: #121212;
}

.pagination{
  display:inline-block;
  position:relative;
  text-align:center;
  margin:20px auto;
  z-index:9;
  background: #fff;
  box-shadow: 0 0 5px rgba(91,91,91,0.3);
}
.pagination div{
  display:inline-block;
  text-align:center; 
  transition: all .3s; 
  cursor:pointer;
  vertical-align: middle;
}
.pagination div a{
  padding:17px 20px;
  display:block;
}
.pagination div:not(.num):hover{
  background:#ddd;
}
.pagination .num{
  padding:14px 10px;
  width:44px;
  text-align:center;
  color:darkred;
  cursor: default;
}
.pagination a{
  text-decoration: none;
  text-transform: uppercase;
  font-size:12px;
  font-weight:700;
  letter-spacing: .95px;
  color:#333;
}
.disabled{
  pointer-events:none;
  background:#ccc;
}
.navbar{
  display:block;
  width:100%;
  margin-top:15px;
}
.nav-list{
  list-style: none;
  margin:0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  box-shadow:0 0 5px rgba(91,91,91,0.3);
}
.nav-list li a{
  display:block;
  padding:15px 20px;
  color: cadetblue;
  text-transform: capitalize;
  text-decoration: none;
  transition:all .3s;
}
.nav-list li a:hover{
  background:#efefef;
}
/* .nav-list li.active a{
  color:#fff;
} */
.nav-list li .active,
.nav-list li .active:hover{
  background: cadetblue;
  color:#fff;
}
.nav-list li .active{
  color:#fff;
}
.tmdbImg{
  width:100px;
}
/* loading */
.load-wrapp {
  width: 140px;
  height: 100px;
  margin: 0 auto;
  padding: 20px 20px 20px;
  border-radius: 5px;
  text-align: center;
}
.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin:5px;
  border-radius: 15px;
  background-color: cadetblue;
}
@keyframes loading {
  0% {transform: translate(0,0);}
  50% {transform: translate(0,15px);}
  100% {transform: translate(0,0);}
}
.loader .line:nth-last-child(1) {animation: loading .6s .1s linear infinite;}
.loader .line:nth-last-child(2) {animation: loading .6s .2s linear infinite;}
.loader .line:nth-last-child(3) {animation: loading .6s .3s linear infinite;}
/*responsive*/
@media only screen and (max-width:1200px){
  .App-intro{
    width:820px;
  }
}

@media only screen and (max-width:960px){
  .App-intro{
    width:720px;
  }
}

@media only screen and (max-width:767px){
  .App-intro{
    width:600px;
  }
  .App-intro >.item{
    width:44%;
  }
}
@media only screen and (max-width:640px){
  .App-intro{
    width:420px;
  }
  .App-intro >.item{
    width:100%;
  }
  .searchWrapper{
    flex-wrap: wrap;
  }

}
@media only screen and (max-width:480px){
  .App-intro{
    width:95%;
  }
  .single-item .content{
    display:block;
  }
  .single-item .poster{
    height:300px;
    padding-right: 0;
  }
  .single-item .poster img{
    height:100%;
    object-fit:contain;
  }
}

